.task-list {
  padding: 1.3rem;
  background-color: rgb(21, 16, 28);
  color: rgb(158, 120, 207);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: rgb(158, 120, 207);
  background: none;
  border: none;
  font-size: 1.1rem;
  margin-left: 0.3rem;
  transition: color 0.1s ease-in;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  color: rgb(62, 22, 113);
}
